/*esta seccion establece los estilos para la estructura de la app*/
.App {
  text-align: center;

}
html{
  height: 100%;
  padding: 0%;
  margin: 0%;
  
}
body{height: 100%;
  width: 100%;
  }

#root{height: 100%;}

div.App {
  min-height: 100%;
  display:grid;
  grid-template-columns: 210px auto;
  grid-template-rows:50px auto 20px ; 
  }


header{
display: flex;  
grid-column-start:1 ;
grid-column-end:4 ;
grid-row-start: 1;
grid-row-end: 2;
box-shadow: 2px 2px 5px gray;
text-align: left;
padding-top: 1%;
padding-bottom:  1%;
padding-left: 15px;
font-weight: 700;
font-size: large;

}

.fuego{
height: 40px;
width: 40px;
}

aside{grid-row-start: 2;
grid-row-end: 3;
background-color:rgb(247, 247, 247);

}

main{grid-column-start:2 ;
  grid-column-end:4 ;
  grid-row-start: 2;
  grid-row-end: 3;
  background: linear-gradient(to bottom right, white, lightgrey);
  margin-right: 15px;
  box-shadow: inset 2px 2px 5px  lightgrey;
  }

footer{
  grid-column-start:1 ;
  grid-column-end:4 ;
  grid-row-start:3 ;
  grid-row-end: 4;
  font-size:12px;
  color: aliceblue;
  text-align: right;
  background: linear-gradient(to right, pink, purple);
  padding-right: 8px;
  padding-top: .1%;
}

.lateral {
  display: flex;
  align-items: center;
  align-content: center;
  height: 50px;
  width: 100%;
  border: none;
  background-color:rgb(247, 247, 247);
  font-weight: 600;
  padding-left: 10%;
  
}
.lateral:hover{
  background-color:  lightgrey;
}
.tarjetaicon{
  height: 25px;
  width: 25px;
  margin: 8px;
}

.mensaje{
  font-size: x-large;
 padding-top: 25%;
}

/*a partir de esta seccion son los estilos para la funcion Tarjeta*/

.tarjeta{
 min-width: 660px;
  height: 55px;
  display:grid;
  grid-template-columns: auto 20%;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  box-shadow: 2px 2px 5px gray;
}

.tarjeta div{
  grid-column-start:1 ;
  grid-column-end: 2;
}

.divtarjeta{
  height: 50px;
  display:grid;
  grid-template-columns: 10% 10% auto 30%;
  align-items: center;
  align-content: center;
}


.tarjeta img{
  grid-column-start:1 ;
  grid-column-end: 2;
}
.cero{
  margin: auto;
  height: 40px;
  width: 40px;
  font-size: large;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px  lightgrey;
  
}
.uno p{
  grid-column-start:2 ;
  grid-column-end: 3;
}

.dos p{
  grid-column-start:3 ;
  grid-column-end: 4;
}

.tarjeta span{
  grid-column-start:4 ;
  grid-column-end: 5;
}
.barra1{
margin: auto;
width: 80%;
}
.barra2{
  border-radius: 5px;
  height: 9px;
 
  background: linear-gradient(to right, rgba(3, 255, 209, 0.745), rgb(0, 89, 255));
  box-shadow: 2px 2px 5px gray;
}
.tarjeta button{
  grid-column-start:2 ;
  grid-column-end: 3;
  min-width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color:rgb(247, 247, 247);
  border: none;
  margin-right: 5px;
  box-shadow: 2px 2px 5px gray;
  font-weight: 600;
}

/*esta seccion establece los estilos para el formulario*/

form{
  height: 91%; 
  margin: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px gray;
}

.contenedor{
  width: 100%;
  height: 14.2%;
}
label{
  display: inline-block;
  height: 35%;
  width: 90%;
  text-align: left;
 
  font-size: 12px;
  font-weight: bold;
 
}

input{
  min-width: 90%;
  height: 37px;
  border-radius: 15px;
  border: none;
  background-color: rgb(243, 240, 240);
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: inset 4px 4px 5px  lightgrey;
}


/*esta seccion establece los estilos para el inputi especial 2 y 3 del formulario*/
#cont2{
  width: 45%;
  display: inline-block;
  margin-right: 15px;
}
#label2{
  width: 180%;
  padding-left: 15px;
}
#select1{
  width: 45%;
  display: inline-block;
  height: 39px;
  border-radius: 15px;
  border: none;
  background-color: rgb(243, 240, 240);
  padding-left: 15px;
  margin-left: 15px;
  box-shadow: inset 4px 4px 5px  lightgrey;
}

.especial{
 
  margin-left: 15px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
#select2{
  width: 94%;
  height: 40%;
  border-radius: 15px;
  border: none;
  background-color: rgb(243, 240, 240);
  padding-left: 15px;
  box-shadow: inset 4px 4px 5px  lightgrey;
}

/*esta seccion establece los estilos para los botones del formulario*/

.footerForm{
  margin-top: 20px;
  height: 12%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.785), white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 5px gray;
}

.crearButton{
float:left;
margin-top:2%;
margin-left: 15px;
height: 50%;
width: 15%;

border-radius: 20px;
background-color: black;
color: white;
border: none;
box-shadow: 2px 2px 5px black;
font-weight: 600;
}

.cancelarButton{
  float: right;
  margin-top: 2%;
  margin-right: 15px;
  height: 50%;
  width: 15%;
  min-width: 100px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px gray;
  font-weight: 600;

}

.updateButton{
  background: linear-gradient(to right, white, rgba(0, 0, 0, 0.945));
  float: left;
  min-width: 100px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px gray;
  font-weight: 600;
  margin-top:2%;
  height: 50%;
  width: 15%;
  color:white;
}

.deleteButton{
  
  min-width: 100px;
  
  border-radius: 20px;
  background-color: white;
  border: red;
  box-shadow: 2px 2px 5px gray;
  font-weight: 600;
  margin-top:2%;
  height: 50%;
  width: 15%;
  color:red;
}

.deleteButton:hover{
  background-color:  red;
  color: white;
}

