.lateral {
    display: flex;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 100%;
    border: none;
    background-color:rgb(247, 247, 247);
    font-weight: 600;
    padding-left: 10%;
    font-size:medium;
    
  }
  .lateral:hover{
    background-color:  lightgrey;
  }
  .tarjetaicon{
    height: 25px;
    width: 25px;
    margin: 8px;
  }

  .noUnderline{
    text-decoration: none;
  }